<aside class="usa-disclaimer">
  <div class="usa-grid">
    <span class="usa-disclaimer-official">
      <img class="usa-flag_icon"
           src="{{ "designstandards/assets/img/us_flag_small.png" | prepend: site.baseurl }}"
           alt="US flag signifying that this is a United States Federal Government website">
      An official website of the United States Government
    </span>
    <span class="usa-disclaimer-stage">This site is currently in beta. <a href="https://18f.gsa.gov/dashboard/stages/#beta">Learn more.</a></span>
  </div>
</aside>
