<footer class="usa-footer usa-footer-medium usa-sans usa-background-dark">
  <div class="usa-footer-secondary_section">
    <div class="usa-grid-full">
      <div class="usa-footer-logo usa-width-two-thirds">
        <a href="https://www.census.gov"
           ><img class="usa-footer-logo-img"
                 src="{{ "img/logos/census.png" | prepend: site.baseurl }}"
                 alt="Census Bureau Logo"></a>
        <a href="http://www.hud.gov"
           ><img class="usa-footer-logo-img"
                 src="{{ "img/logos/hud.png" | prepend: site.baseurl }}"
                 alt="HUD Logo"></a>
        <a href="https://www.commerce.gov"
           ><img class="usa-footer-logo-img"
                 src="{{ "img/logos/commerce.png" | prepend: site.baseurl }}"
                 alt="Commerce Logo"></a>
        <a href="https://presidentialinnovationfellows.gov"
           ><img class="usa-footer-logo-img"
                 src="{{ "img/logos/pif.png" | prepend: site.baseurl }}"
                 alt="PIF Logo"></a>
      </div>

      <div class="usa-footer-contact-links usa-width-one-third">
        <h3 class="usa-footer-contact-heading">{{ site.title }}</h3>
        <p>
          <a href="{{ site.url }}">{{ site.url }}</a>
          <br>
          <a href="{{ site.repo_url }}">Visit on GitHub<i class="fa fa-github fa-fw"></i></a>
        </p>
      </div>
    </div>
  </div>
</footer>
