<header>
  <a class="skipnav" href="#main-content">Skip to main content</a>

  {% include disclaimer.html %}

  <div class="ood-banner">
    <div class="usa-grid">
      <h1>{{ site.title }}</h1>
      <p class="usa-font-lead">Let's build something amazing together.</p>
      <p class="ood-description">The Opportunity Project expands access to opportunity for all Americans by putting data and digital tools in the hands of families, communities, and local leaders, to help them navigate information about the resources they need to thrive.</p>
    </div>
  </div>

  <div class="ood-nav-spacer"></div>

  <div class="usa-grid ood-nav">
    <div class="usa-width-one-third">
      <a href="#connect">
        <i class="fa fa-connectdevelop ood-first"></i>
        <h2>Connect</h2>
        <p>Meet the community.</p>
      </a>
    </div>

    <div class="usa-width-one-third ood-middle">
      <a href="#build">
        <i class="fa fa-code"></i>
        <h2>Build</h2>
        <p>Use data to improve lives.</p>
      </a>
    </div>

    <div class="usa-width-one-third">
      <a href="#learn">
        <i class="fa fa-question ood-last"></i>
        <h2>Learn More</h2>
        <p>What is this?</p>
      </a>
    </div>
  </div>

  <div class="ood-nav-spacer ood-mobile-hide"></div>

</header>
