<header>
  <a class="skipnav" href="#main-content">Skip to main content</a>

  {% include disclaimer.html %}

  <div class="ood-banner">
    <div class="usa-grid">
      <h1>Let’s make sure women get paid what they deserve.</h1>
      <p class="usa-font-lead">#Hackthepaygap</p>
      <p class="ood-description">Much has been done for women and girls in the US, but there’s still plenty to do. In partnership with the White House’s United State of Women Summit, the Presidential Innovation Fellows, and the U.S. Census,  #hackthepaygap is a nationwide hackathon that will bring together developers, companies, and advocates to tackle one of the most important issues facing American women today: the gender pay gap.</p>
    </div>
  </div>

  <div class="ood-nav-spacer"></div>

  <div class="usa-grid ood-nav">
    <div class="usa-width-one-third">
      <a href="#connect">
        <i class="fa fa-connectdevelop ood-first"></i>
        <h2>Connect</h2>
        <p>Meet the community.</p>
      </a>
    </div>

    <div class="usa-width-one-third ood-middle">
      <a href="#build">
        <i class="fa fa-code"></i>
        <h2>Build</h2>
        <p>Use data to improve lives.</p>
      </a>
    </div>

    <div class="usa-width-one-third">
      <a href="#learn">
        <i class="fa fa-question ood-last"></i>
        <h2>Learn More</h2>
        <p>What is this?</p>
      </a>
    </div>
  </div>

  <div class="ood-nav-spacer ood-mobile-hide"></div>

</header>
