<section class="build ood-alt2" id="build">

  <div class="usa-grid">
    <header class="ood-main">
      <h1>Build</h1>

    </header>
  </div>

    <div class="build-col">

      <h3>Challenges</h3>
      <p>Not sure where to start? Here are few challenges to get you going: </p>
      <p>
        <ul>
          <li>How might we use data to increase salary transparency and help women better negotiate?</li>
          <li>How might we use data to enable companies to pay their employees more equitably?</li>
          <li>How might we use data to visualize the consequences of the gender pay gap to the broader public?</li>
        </ul>
      </p>

    </div>


</section>

{% include_relative index_includes/data-inventory.html %}

{% include_relative index_includes/scenarios.html %}
