<section id="build">

  <div class="usa-grid">
    <header class="ood-main">
      <h2>Hack</h2>
      <p class="usa-font-lead">We want nerds, communities, and advocates to work together to build digital tools that improve people's lives. Use the Opportunity Project data to do that.  Anyone can build, and we're committed to providing you the best platform possible.</p>
      <p class="usa-font-lead">
        Getting involved?
        <a href="https://www.whitehouse.gov/webform/building-presidents-call-action-open-data-neighborhoods">Tell us what you’re doing!</a>
      </p>
    </header>
  </div>


  {% include_relative index_includes/data-inventory.html %}
  {% include_relative index_includes/citysdk.html %}

  {% include_relative index_includes/scenarios.html %}

</section>
