<section class="build ood-alt" id="build">

  <div class="usa-grid">
    <header class="ood-main">
      <h1>Build</h1>

      <!--
      <div class="usa-font-lead">On May 15th in Washington, D.C., we will be gathering developers, designers, subject-matter experts, and advocates to work together to build digital tools that help in closing the gender pay gap. Use the #Hackthepaygap data to do that. Anyone can build, and we're committed to providing you the best platform possible.</p>
      </div>
    -->










		<!--
        <a href="https://www.whitehouse.gov/webform/building-presidents-call-action-open-data-neighborhoods" target="_blank">Want to attend the Hackathon? RSVP here!</a>
		-->

      
    </header>
  </div>

  <div class="usa-grid">

    <div class="usa-width-two-thirds">

      <h3>Challenges</h3>
      <p>Not sure where to start? Here are few challenges to get you going: </p>
      <p>
        <ul>
          <li>How might we use data to increase salary transparency and help women better negotiate?</li>
          <li>How might we use data to enable companies to pay their employees more equitably?</li>
          <li>How might we use data to visualize the consequences of the gender pay gap to the broader public?</li>                    
        </ul>
      </p>

    </div>

  </div>


</section>

{% include_relative index_includes/data-inventory.html %}

{% include_relative index_includes/scenarios.html %}